.input {
    background: #f4f7f9;
    width:100%; 
    position:relative;
    height:47px;  
    padding-top:10px;
    padding-right:50px;
    padding-bottom:10px;
    padding-left:15px;
    border:none;
    resize:none;
    outline:none;
    border:1px solid #ccc;
    color:#888;
    border-top:none;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;  
  }

  .input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
  }
  .input::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
  }
  .input:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
  }
  .input:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }
  .submit {  
    position:absolute;
    bottom:3px;
    right:10px;
    background: transparent;
    box-shadow:none;
    border:none;
    border-radius:50%;
    color:#5A5EB9;
    width:35px;
    height:35px;  
  }

  .form {
    margin: 0px;
  }